/*Custom CSS Variables for colors */
:root {
    --green-smoke: #95aa63;
    --oxley: #6f9580;
    --pale-leaf: #bfcab4;
    --snow-drift: #e4e4dc;
}

/*Page color and text color */
::selection {
    background-color: var(--snow-drift);
    color: var(--pale-leaf);
}

/*set font size here*/
html {
    font-size: 60%;
}

body {
    min-width: fit-content;
    min-height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: var(--pale-leaf);
    background-color: var(--snow-drift);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: var(--green-smoke);
    color: var(--snow-drift);
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-right: 30px;
    font-size: 3rem;
    text-align: right;
    color: var(--oxley);
    padding: 1%;
    min-width: 175px;
}

.border {
    border-right: 3px solid var(--oxley);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style: none;
}

nav a {
    color: var(--snow-drift);
    font-weight: bold;
    font-size: 2rem;
}

nav a:hover {
    color: var(--pale-leaf);
  }

main {
  margin-left: 50px;
}

.bgimage{
    position: relative;
    width: auto;
    background-image: url("../images/temp.jpg");
    background-repeat: none;
    background-position:top;
    background-size:cover;
    display: flex;
    min-height: 300px;
    max-height: 50%;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

article{
    
}

article p {
    padding: 1%;
    font-size: 2rem;
    color: var(--oxley);
}

article ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: underline;
    font-size: 2rem;
    color: var(--oxley);
    padding-left: 20px;
}

.workphotos {
    position: relative;
    text-align: center;
    color: var(--snow-drift);
    margin: 10px;
}

.workphotos a:hover {
    color: var(--snow-drift);
}

.botleft {
    position: absolute;
    bottom: 50px;
    left: 1px;
    font-size: 3rem;
    background-color: var(--oxley);
    border: 10px solid var(--oxley);
}

article img {
    position: relative;
    width: 300px;
    display: flex;
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    border: 7px solid var(--oxley);
}

article a:hover {
    color: var(--green-smoke);
  }

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 2rem;
    background-color: var(--green-smoke);
    color: var(--snow-drift)
}

@media screen and (max-width: 1300px) {
   article{
    display: flex;
    flex-wrap: wrap;
   }
   .border{
    border: 0px;
   }

}
@media screen and (max-width: 630px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
}